---
import Layout from '../layouts/BlogPost.astro';
---

<Layout
	title="About Me"
	description="Who Am I?"
	pubDate={new Date('April 02 2024')}
>
	<p>
		My actual name is: Jorge Harrisonn Mantovanelli Thomes Vieira. I'm {Math.floor((new Date().getTime() - new Date('2004-07-16').getTime()) / (1000 * 60 * 60 * 24 * 365.25))} years old, and 
		at the moment a CS undergraduate at University of São Paulo - Brazil.
	</p>

	<p>
		I came from the countryside of the state of Espírito Santo (to be more precise, a city called Jaguaré) being raised by my grandparents, who taught me the most import values I have.
	</p>

	<p>
		Computing and technology are my passions since I can think of, also creating new stuff.
	</p>

</Layout>
