---
import BaseHead from "../components/BaseHead.astro";
import Footer from "../components/Footer.astro";
import Header from "../components/Header.astro";
import { SITE_DESCRIPTION } from "../consts";
---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead title={"Home"} description={SITE_DESCRIPTION} />
	</head>
	<body>
		<Header />
		<main>
			<h1>Hello, visitant!</h1>
			<p>
				I'm Harrisonn (AKA OJarrisonn). Be welcome to my personal page.
			</p>
			<p>
				Feel free to look at my blog, projects, about and contact me.
			</p>
			<p>
				This page is still WIP.
			</p>
		</main>
		<Footer />
	</body>
</html>

<style>
	body {
		display: flex;
		min-height: 100vh;
		flex-direction: column;
		justify-content: flex-start;
	}

	main {
		margin: 0 auto auto auto;
	}
</style>